POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb



DATABASE_URL=postgresql+asyncpg://myuser:mypassword@database:5432/mydb

TRON_API_KEY=first_api_key,second_api_key,third_api_key ... 
TRON_API_URL = "https://api.trongrid.io"

ECHO_DB=1  # 1 - True, 0 - False




